@charset "UTF-8";

ul {
    list-style: none;
}
a{
    text-decoration: none;
}
/* ################## 蔵の写真、基本情報 ################## */
.kura_info {
    margin-top: 20px;
    display: grid;
    grid-template-rows: 520px;
    grid-template-columns: 780px 1fr;
    background-color: #ff6347;
}

.kura_info img{
    width:780px; 
    height:520px;
}
.about_kura {
    padding: 40px;
    color: #fff;
}

.about_kura_kengaku {
    font-size: 20px;
    margin-top: 40px;
}
.about_kura_kengaku p{
    color: #808080;
}
p.available {
    color: #ffffff;
}
.about_kura_open table {
    font-size: 12px;
    border-collapse: separate;
    border-spacing: 0 20px;
    color: #F6DDA1;
}

.about_kura_open td {
    padding: 0 0 0 20px;
}
.about_kura_url a{
    color: #ffffff;
}
.about_kura_url a:hover{
color: #cccccc;
}

/* 1239px以下 */

@media (max-width: 1239px){
    .kura_info {
        margin-top: 20px;
        display: block;
        background-color: #ff6347;
    }
    .kura_info img{
        width:580px; 
        height:384px;
    }
}
/* 800px以下 */

@media (max-width: 800px)
{
.kura_info {
    margin-top: 20px;
    display: block;
    background-color: #ff6347;
}

.kura_info img {
    width: 100%;
    height: auto;
}




}




/* ###############その蔵や製造品に関する記事、詳細情報 ################*/
.kura_details {
    display: grid;
    grid-template-rows: 755px;
    grid-template-columns: 760px 1fr;
}

.kura_stories {
    border: solid 1px #ff6347;
    padding: 39px 29px 0 19px;
    margin-top: 40px;
}

.kura_stories p {
    margin: 20px 0 40px 0;
}

.blog_head {
    display: flex;
}

.category {
    margin-right: 20px;
    padding: auto 10px;
    display: flex;
    background-color: #d6d6d6;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
}
.category a{
    color: #000000
}
.category a:hover{
    color: #333333;
}

.story_title {
    color: #ff6347;
}
.story_title:hover{
    color: #FB7861;
}

.company_gaiyou {
    padding: 0 0 0 60px;
    text-align: left;
}
.company_gaiyou a{
    color: #000000;
}
.company_gaiyou a:hover {
    color: #333333;
}
.company_gaiyou table {
    border-collapse: separate;
    border-spacing: 0 20px;
    margin-top: 20px;
}

.company_gaiyou td {
    padding: 0 0 0 35px;
}

#map_canvas {
    margin-top: 20px;
    width:360px; 
    height:240px;

}

/* 1239px以下 */

@media (max-width: 1239px) {
.kura_details {
    display: block;
}
/* 
.category {
    margin-right: 20px;
} */

.company_gaiyou {
margin-top: 80px;
    padding: 0;
    text-align: left;
}
#map_canvas {
      width:580px;
      height:240px;
}

}

/* 800px以下 */

@media (max-width: 800px){


.company_gaiyou {
    display: none;
}
}


/* #############製造品一覧############################ */
.products {
    margin-top: 80px;
}

.items {
    margin-top: 40px;
    display: flex;
}

.item_card {
    margin: 0 20px;
}

.spec {
    display: flex;
}

.spec img {
    margin-right: 20px;
}

.products_info li {
    margin: 10px 0;
}
.taste{
    background: linear-gradient(transparent 50%, #78CFE5 50%);
}

.meigara {
    font-size: 24px;
}

.product_alc {
    margin-top: 20px;
    display: grid;
    grid-template-rows: 56px;
    grid-template-columns: 40px 1fr;
}

.product_seimai {
    display: grid;
    grid-template-rows: 56px;
    grid-template-columns: 40px 1fr;
}

.grid_item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.rice ul {
    display: flex;
}

.rice li {
    margin-right: 10px;
}

.product_point {
    margin-top: 40px;
}

.price_list {
    margin-top: 40px;
}

.price_list th {
    padding: 10px 20px;
    background-color: #58e4ff;
    border: none;
    border-bottom: 1px solid #fff;
}

.price_list tr {
    border: none;
    border-bottom: 1px solid #d6d6d6;
}
.price_list tr:nth-child(3n) {
    border: none;
    border-bottom: 1px solid #fff;
}
.price {
    font-size: 20px;
    padding-left: 20px;
    white-space: nowrap;
}

.tax {
    padding-right: 130px;
}



/* 1239px以下 */

@media (max-width: 1239px) {
    .item1 {
        margin: 60px 0;
    }
    .items {
        display: block;
    }
    .tax {
        padding-right: 320px;
    }

}

/* 800px以下 */

@media (max-width: 800px)
{

    
    .tax {
        padding-right: 0px;
        text-align: left;
        width: 100%;
    }

    
}