@charset "utf-8";
/*feid in*/

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*keyvisual*/

.top_sticky {
    position: sticky;
    height: 80px;
}

.header_menu {
    background: #fff;
}

.content_fluid {
    position: relative;
}

/*navmenu*/

.top_logo {
    margin-top: 80px;
    width: 400px;
    height: 400px;
}

.first_menu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: collapse;
}

.first_menu .key_visual_content {
    width: 1180px;
    margin-left: auto;
    margin-right: auto;
    visibility: collapse;
}

.first_menu .key_visual_content .menu {
    visibility: visible;
}

.menu {
    width: 400px;
    margin-left: -40px;
    background-color: rgba(0, 0, 0, 0.596);
    height: 100vh;
    position: relative;
}

.menu ul {
    margin-top: 60px;
}

.menu li {
    margin: 0 40px 20px;
    font-size: 24px;
    color: #fff
}

.menu a {
    text-decoration: none;
    color: #fff;
}

.brewer_info {
    position: absolute;
    bottom: 40px;
}

@media (max-width: 1240px) {
    .top_logo {
        width: 240px;
        height: 240px;
    }
    .first_menu .key_visual_content {
        width: 580px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .menu {
        width: 240px;
    }
    
    .menu ul {
        margin-top: 40px;
    }
    .menu li {
        margin: 0 40px 20px;
        font-size: 15px;
        color: #fff
    }
    .menu a {
        text-decoration: none;
        color: #fff;
    }
    .brewer_info {
        position: absolute;
        bottom: 40px;
    }
    .brewer_info li {
        margin-bottom: 0;
    }
}

@media (max-width: 800px) {
    .content_fluid {
        left: 0;
    }
    .first_menu .key_visual_content {
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .menu {
        width: 224px;
        margin-left: 0px;
    }
    
    .top_logo {
        margin-top: 80px;
        width: 224px;
        height: 224px;
    }
    .menu ul {
        margin-top: 60px;
    }
    .menu li {
        margin: 20px;
        font-size: 15px;
    }
}

/*titles*/

.title_box {
    width: 300px;
    height: 48px;
    margin: auto 0;
}

.logos {
    display: flex;
    justify-content: space-between;
    animation-name: fadein;
    animation-duration: 2s;
}

.title_logo01 {
    float: left;
}

.title_logo02 {
    width: 310px;
    height: 80px;
    margin: auto 0;
    display: none;
}

.contents_title {
    margin: 14px;
    font-size: 24px;
    float: left;
}

/*section01*/

.box01 {
    margin: 0 0 40px;
}

.contents01 {
    /* display: flex; */
    margin: 0;
}

.poem {
    display: flex;
    width: 1000px;
    margin: 60px auto;
    align-items: center;
}

.poem img {
    width: 150px;
    height: 150px;
    margin: 30px;
    align-content: center;
}

.poem_title {
    width: 550px;
    margin: 20px 0;
    font-size: 36px;
    color: #FF6347;
}

.text_box {
    width: 800px;
    line-height: 35px;
    letter-spacing: 3px;
    margin-left: 20px;
    font-size: 20px;
}

/*contents02*/

.box02 {
    margin: 100px 0 80px;
}

.contents02 {
    width: 1180px;
    height: 350px;
    margin: 60px 0 40px 0;
}

/*Instagramギャラリー*/

.photo_box {
    z-index: 2;
    width: 1115px;
    height: 250px;
    margin: 0 auto;
}

.photo01 {
    width: 250px;
    height: auto;
    z-index: 5;
    margin: 0 10px 0 20px;
}

.photo01 img {
    width: 100%;
    height: auto;
}

a:hover img.photo01 {
    opacity: 0.6;
    filter: brightness(110%);
    -webkit-transition: all .4s;
    transition: all .4s;
}

.photo02 {
    width: 250px;
    height: auto;
    z-index: 5;
    margin: 0 10px 0 10px;
}

.photo02 img {
    width: 100%;
    height: auto;
}

a:hover img.photo02 {
    opacity: 0.6;
    filter: brightness(110%);
    -webkit-transition: all .4s;
    transition: all .4s;
}

.photo03 {
    width: 250px;
    height: 250px;
    z-index: 5;
    margin: 0 10px 0 10px;
}

.photo03 img {
    width: 100%;
    height: auto;
}

a:hover img.photo03 {
    opacity: 0.6;
    filter: brightness(110%);
    -webkit-transition: all .4s;
    transition: all .4s;
}

.photo04 {
    width: 250px;
    height: 250px;
    z-index: 5;
    margin: 0 20px 0 10px;
}

.photo04 img {
    width: 100%;
    height: auto;
}

a:hover img.photo04 {
    opacity: 0.6;
    filter: brightness(110%);
    -webkit-transition: all .4s;
    transition: all .4s;
}

.photo_back {
    z-index: -1;
    width: 1180px;
    height: 80px;
    padding: 0;
    margin: 0px auto;
    background-color: #F9F9F9;
    position: absolute;
    top: 2580px;
}

.insta_icon {
    width: 250px;
    height: 40px;
    margin: 90px 0 20px;
    float: right;
    transition-duration: 0.5s;
}

a:hover img.insta_icon {
    transform: scale(1.1, 1.1);
    /*画像の拡大*/
    cursor: pointer;
    /*カーソルをポインターにする*/
}

/*レスポンシブ対応タブレット*/

@media (max-width: 1239px) {
    /*titles*/
    .title_logo02 {
        width: 160px;
        height: 40px;
        margin: auto 0;
    }
    /*cotents01*/
    .poem {
        display: flex;
        width: 580px;
        margin: 60px auto;
        align-items: center;
    }
    .poem img {
        width: 75px;
        height: 75px;
        margin: 70px 15px;
    }
    .poem_title {
        width: 400px;
        margin: 20px 0;
        font-size: 24px;
    }
    .text_box {
        width: 450px;
        line-height: 35px;
        letter-spacing: 3px;
        margin-left: 15px;
        font-size: 15px;
    }
    /*contents02*/
    .contents02 {
        width: 580px;
        height: 270px;
        margin: 60px 0;
    }
    .photo_box {
        z-index: 2;
        width: 535px;
        height: 130px;
        margin: 0 auto;
    }
    .photo01 {
        width: 130px;
        height: auto;
        z-index: 5;
        margin: auto;
    }
    .photo01 img {
        width: 100%;
        height: auto;
    }
    .photo02 {
        width: 130px;
        height: auto;
        z-index: 5;
        margin: auto;
    }
    .photo02 img {
        width: 100%;
        height: auto;
    }
    .photo03 {
        width: 130px;
        height: auto;
        z-index: 5;
        margin: auto;
    }
    .photo03 img {
        width: 100%;
        height: auto;
    }
    .photo04 {
        width: 130px;
        height: auto;
        z-index: 5;
        margin: auto;
    }
    .photo04 img {
        width: 100%;
        height: auto;
    }
    .photo_back {
        z-index: -1;
        width: 580px;
        height: 50px;
        padding: 0;
        margin: 0px auto;
        background-color: #F9F9F9;
        position: absolute;
        top: 2470px;
    }
    .insta_icon {
        width: 120px;
        height: 25px;
        margin: 60px 0;
    }
}

/*レスポンシブ対応スマホ*/

@media (max-width: 800px) {
    /*titles*/
    .logos {
        width: 100%;
        display: flex;
    }
    .title_logo02 {
        width: 160px;
        height: 40px;
        margin: auto 0;
    }
    /*cotents01*/
    .contents01 {
        width: 250px;
    }
    .box01 {
        margin: 40px 0 20px;
    }
    .text_logo {
        width: 250px;
    }
    .poem {
        display: flex;
        width: 270px;
        margin: 40px auto;
        align-content: center;
    }
    .poem img {
        width: 50px;
        height: 50px;
        margin: 0px;
        align-content: center;
    }
    .poem_title {
        width: 280px;
        margin: 0 0 20px;
        font-size: 20px;
    }
    .text_box {
        width: 270px;
        line-height: 20px;
        letter-spacing: 2px;
        margin-left: 12px;
        font-size: 12px;
    }
    /*contents02*/
    .box02 {
        margin: 20px 0 40px;
    }
    .contents02 {
        width: 320px;
        height: 155px;
        margin: 40px 0;
    }
    .photo_box {
        z-index: 2;
        width: 280px;
        height: 130px;
        margin: 0 auto;
    }
    .photo01 {
        width: 130px;
        height: auto;
        z-index: 5;
        margin: auto;
    }
    .photo01 img {
        width: 100%;
        height: auto;
    }
    .photo02 {
        width: 130px;
        z-index: 5;
        margin: auto;
    }
    .photo02 img {
        width: 100%;
        height: auto;
    }
    .photo03 {
        display: none;
    }
    .photo04 {
        display: none;
    }
    .photo_back {
        z-index: -1;
        width: 320px;
        height: 50px;
        padding: 0;
        margin: 0px auto;
        background-color: #F9F9F9;
        position: absolute;
        top: 1940px;
    }
    .insta_icon {
        width: 120px;
        height: 25px;
        margin: 40px 0;
    }
}

/* バナーのメディアクエリ */

@media (max-width: 800px) {
    .banner {
        margin-left: 20px;
    }
    .banner_pc img {
        display: none;
    }
    .banner_sm img {
        display: block;
    }
    .banner_sm img:first-child {
        margin-bottom: 20px;
    }
}

@media (min-width: 800px) and (max-width: 1239px) {
    .banner {
        margin-left: 23px;
    }
    .banaer_pc img {
        display: block;
    }
    .banner_sm img {
        display: none;
    }
    .banner_pc img:first-child {
        margin-bottom: 20px;
    }
}

@media (min-width: 1240px) {
    .banner {
        margin-left: 52px;
    }
    .banaer_pc img {
        display: block;
    }
    .banner_sm img {
        display: none;
    }
    .banner_pc img:first-child {
        margin-right: 20px;
    }
}